body{
    box-sizing: border-box;
}
ul {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    background: skyblue;
}

a {
    display: block;
    flex-flow: column nowrap;
    text-decoration: none;
    padding: 20px 0;
    color: white;
    text-align: center;
}

a:hover {
    color: darkblue;
}

