div {
    font-size: 28pt;
    color: whitesmoke;
    font-weight: bold;
    height: 200px;
    width: 200px;
    background: firebrick;
    text-align: center;
    border: 2px solid black;
}

#one {
    background: turquoise;
    position: relative;
    left: 40px;
}

#two {
    position: absolute;
    right: 80px;
    top: 100px;
}