body{
    box-sizing: border-box;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px solid red;
    background-image: url(tropics.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 82pt;
    text-align: center;
    color: white;
}